<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <filter>
    <filter-name>SetCharacterEncoding</filter-name>
    <filter-class>com.qicaiyun.filters.ChangeCharsetFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>SetCharacterEncoding</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>modifyPasswordServlet</servlet-name>
    <servlet-class>com.qicaiyun.servlets.modifyPasswordServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ScoreServlet</servlet-name>
    <servlet-class>com.qicaiyun.servlets.ScoreServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ScoreRedeemServlet</servlet-name>
    <servlet-class>com.qicaiyun.servlets.ScoreRedeemServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddAdviceServlet</servlet-name>
    <servlet-class>com.qicaiyun.servlets.AddAdviceServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>showInfoServlet</servlet-name>
    <servlet-class>com.qicaiyun.servlets.showInfoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddFoodServlet</servlet-name>
    <servlet-class>com.qicaiyun.servlets.AddFoodServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>merchantRegistServlet</servlet-name>
    <servlet-class>com.qicaiyun.servlets.merchantRegistServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>adminLoginServlet</servlet-name>
    <servlet-class>com.qicaiyun.servlets.adminLoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MemberAdviceServlet</servlet-name>
    <servlet-class>com.qicaiyun.servlets.MemberAdviceServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>abcServlet</servlet-name>
    <servlet-class>com.qicaiyun.servlets.abcServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MerchantreviewServlet</servlet-name>
    <servlet-class>com.qicaiyun.servlets.MerchantreviewServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>defServlet</servlet-name>
    <servlet-class>com.qicaiyun.servlets.defServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SearchMyServlet</servlet-name>
    <servlet-class>com.qiaiyun.servlets.SearchMyServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>merchantservlet</servlet-name>
    <servlet-class>com.qiaiyun.servlets.merchantservlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteServlet</servlet-name>
    <servlet-class>servlets.DeleteServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteServlet1</servlet-name>
    <servlet-class>servlets.DeleteServlet1</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>memberLoginServlet</servlet-name>
    <servlet-class>com.qicaiyun.servlets.memberLoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>hotelProductSeparateServlet</servlet-name>
    <servlet-class>com.qicaiyun.servlets.hotelProductSeparateServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>foodseparateServlet</servlet-name>
    <servlet-class>com.qicaiyun.servlets.foodseparateServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>merchantLoginServlet</servlet-name>
    <servlet-class>com.qicaiyun.servlets.merchantLoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LogOutServlet</servlet-name>
    <servlet-class>com.qicaiyun.servlets.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>manageragreeservlet</servlet-name>
    <servlet-class>com.qicaiyun.servlets.manageragreeservlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>comfirmmerchantServlet</servlet-name>
    <servlet-class>com.qicaiyun.servlets.comfirmmerchantServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ChangeServlet</servlet-name>
    <servlet-class>com.qicaiyun.servlets.ChangeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ChangeInfoServlet</servlet-name>
    <servlet-class>com.qicaiyun.servlets.ChangeInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeInfoServlet</servlet-name>
    <url-pattern>/ChangeInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ChangeServlet</servlet-name>
    <url-pattern>/ChangeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ScoreServlet</servlet-name>
    <url-pattern>/ScoreServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>adminLoginServlet</servlet-name>
    <url-pattern>/adminloginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>memberLoginServlet</servlet-name>
    <url-pattern>/memberloginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ScoreRedeemServlet</servlet-name>
    <url-pattern>/ScoreRedeemServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddAdviceServlet</servlet-name>
    <url-pattern>/addAdviceServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>showInfoServlet</servlet-name>
    <url-pattern>/showInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>hotelProductSeparateServlet</servlet-name>
    <url-pattern>/hotelProductSeparateServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>manageragreeservlet</servlet-name>
    <url-pattern>/manageragreeservlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogOutServlet</servlet-name>
    <url-pattern>/logOutServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>loginHome.html</welcome-file>
  </welcome-file-list>
</web-app>